body {
    text-align: center;
    background-image: linear-gradient(to right, rgb(168, 154, 141), rgb(239, 185, 83));
    color: White;
  }
  
  #container {
    margin: 0 auto;
    margin-top: 50px;

    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 650px;
    
    border: 1px solid yellow;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
  
    background: orange;
  }
  
  h2{
    color: black;
    border-bottom: 3px solid black;
  }
  
  label{
    color: black;
  }
  
  input{
    width: 174px;
    height: 30px;
    border-radius: 5px;
    border:1px solid #7c5519;
    outline:none;
    color: black;
  }

  input:hover{
    border-radius:4px;
    box-shadow: 0px 0px 5px 0px #7c5519;
    border:1px solid  #7c5519;
    outline:none; 
  }
  
  input#peso{
    margin-left: 9px;
    width: 175px;
    height: 30px;
    border-radius: 5px;
    border: solid white;
    color: black;
  }
  
  #btn{
    width: 220px;
    height: 25px;
    color: orange;
    background: black;
  }
  #btn:hover{
    color: white;
    background: #383634;
  }
  
  #campo-texto{
    width: 220px;
    height: 100px;
    background: black;
    border-radius: 8px;
    color: white;
  }
  